    body{
         background-color:#7e7191;
         margin-left: 40px;
         margin-right: 40px;

         color: white;
    }
    .title{
        font-size:200%;
        margin-top: 2.5%;
    }
    #borderOnDiv{
        margin-top: 5%;
        padding: 5%;
        border:2px solid white;
    }
    #data{
        margin-bottom:5%;
        font-size: 150%;
        margin-top: -6.75%;
        background-color:#7e7191;
        width: 10%;
    }
    button.btn{
        margin-top: 5%;
        background-color: #0c011c;
        border:2px solid #0c011c;
    }
    button.btn:hover{
        background-color: white;
        border:2px solid white;
        color: #0c011c;
    }
    .img {
    	width: 100px;
    	height: auto;
    }
    .footerClass{
        text-align: center;
        background:#0C011C;
        color:white;
        width: 100%;
        height:20%;
    }
    container{
        height:100%;
    }
    a{
       color: white;
       margin-right: 1%;
       margin-top:50%;
       text-decoration:none;
       font-size: 20px;
    }
    nav{
        padding-top:90px;
        margin-left:5%;
    }
    .stylFoto{
        height: 200px;
        background-color:#0C011C;

    }
    .scroll {
        position: fixed;
        bottom: 30px;
        right: 30px;
        display: none;
    }


